#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#error-message {
  font-size: 2em;
  border: 1px solid black;
  padding: 0.5em;
  border-radius: 10px;
  margin: 0.5em;
  background-color: red;
  color: white;
}

.article-item {
  border: 1px solid black;
  padding: 1em;
  border-radius: 10px;
  margin-top: 10px;
}

.comment {
  border: 1px solid black;
  padding: 0.5em 1em;
  border-radius: 10px;
  margin-top: 10px;
  background-color: rgb(229, 229, 229);
}

.votes {
  width: 80%;
  border: 1px solid black;
  padding: 0.5em;
  border-radius: 10px;
  margin: 10px auto;
  background-color: rgb(120, 251, 120);
}

.votes span {
  display: inline-block;
  width: 33%;
  text-align: center;
  margin: 0 auto;
}

.votes button {
  width: 20%;
  margin: 0 auto;
}

.voting-error {
  width: 50%;
  border: 1px solid black;
  padding: 1em;
  border-radius: 20px;
  margin: 10px auto;
  background-color: rgb(255, 0, 0);
  color: white;
}

.topic-item {
  border: 1px solid black;
  padding: 1em;
  border-radius: 10px;
  margin-top: 10px;
}
